@charset "UTF-8";
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

input, textarea {
  background: none; }

/*TAMAÑOS DE TEXTO*/
.t1 {
  font-size: 1.75rem; }

.t2 {
  font-size: 1.25rem; }

.t3 {
  font-size: 1rem; }

.t4 {
  font-size: 0.9375rem; }

.t5 {
  font-size: 0.8125rem; }

body {
  font-weight: 400;
  line-height: 1.6;
  font-size: 0.9375rem;
  color: #53575A;
  font-family: "Raleway", sans-serif;
  background-color: #FAFDFF; }

h1 {
  width: 100%;
  padding: 1rem;
  color: #000;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  text-shadow: 2px 2px 2px rgba(144, 154, 165, 0.5);
  text-align: center; }

h2 {
  color: #232222; }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #DFE0E0; }

.menu-toggle {
  display: none; }

.site-nav {
  height: auto;
  position: relative;
  background: transparent;
  float: right;
  margin-right: 10px;
  clip-path: initial; }

.menu {
  display: flex;
  justify-content: center; }
  .menu li:first-child > a {
    color: #ff00ff; }
  .menu a {
    display: block;
    padding: 1.5rem;
    font-weight: 400;
    color: #232222; }
    .menu a:hover {
      color: #ff00ff; }
    .menu a::after {
      content: '';
      display: block;
      height: 2px;
      background: #ff00ff;
      transform: scale(0, 1);
      transform-origin: center left;
      transition: transform .25s; }
    .menu a:hover::after {
      transform: scale(1, 1); }
  .menu li {
    border: none; }

@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column; }
  .menu-toggle {
    display: block; }
  .site-nav {
    top: 100%;
    right: -10px;
    position: absolute;
    background: linear-gradient(to left, #ff9472, #f2709c);
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms; }
  .site-nav-open {
    clip-path: circle(150% at top right); }
  .menu li {
    border-bottom: 1px solid #DFE0E0; }
    .menu li:last-child {
      border-bottom: none; }
    .menu li:first-child > a {
      color: #FFF; }
  .menu a {
    display: block;
    padding: 2em 6em;
    font-weight: 400;
    color: #FFF; }
    .menu a:hover {
      color: #FFF; }
  .menu-toggle {
    padding: 1em;
    position: absolute;
    top: 40px;
    right: .5rem; }
  .menu-open .hamburger {
    transform: rotate(45deg); }
  .menu-open .hamburger::before {
    opacity: 0; }
  .menu-open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg); }
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    background: #000;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms; }
  .hamburger::before {
    transform: translateY(-6px); }
  .hamburger::after {
    transform: translateY(3px); } }

.content__logo {
  display: flex;
  align-items: center;
  padding-left: 1em; }
  .content__logo img {
    padding: 1rem;
    display: block;
    max-width: 300px;
    height: 8rem; }

.slider__content {
  background-image: url(./img/woman-with-red-lipstick-looking-up-3762762.jpg);
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.nosotros__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .nosotros__content .nosotros-text {
    width: 100%;
    text-align: center;
    padding: 1rem;
    background: #000; }
  .nosotros__content h1 {
    font-family: "Kaushan Script";
    color: #FFF;
    text-shadow: none;
    font-size: 4rem; }
  .nosotros__content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80%;
    padding: 1rem; }

.text__nosotros {
  padding: 1rem;
  text-align: center; }

.nosotros__img {
  padding: 1rem;
  padding: 1rem;
  width: 80%;
  align-self: center; }

.service__main {
  padding: 1rem 0;
  text-align: center;
  background-color: #fce5fccc; }
  .service__main .service-link {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #000; }
  .service__main .text__service {
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
    color: #FFF; }
  .service__main .link__service {
    width: 50%;
    display: block;
    width: 200px;
    height: 60px;
    padding: 1rem;
    margin: 2rem;
    margin-right: auto;
    margin-left: auto;
    color: #FFF;
    text-align: center;
    background: #f580b5;
    border-radius: 10px;
    border: none; }
    .service__main .link__service a {
      color: #FFF; }

.service {
  border: 1px solid #DFE0E0;
  padding: 1rem;
  margin-bottom: 2rem;
  background: #FFF; }

.service__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem; }
  .service__content div {
    width: 30%; }
  .service__content img {
    object-fit: cover;
    padding: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 50%; }

.gallery__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.gallery {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(12, 5vw);
  gap: .5rem;
  width: 80%;
  padding: 1rem; }
  .gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .gallery .img--1 {
    grid-column: 1 / 5;
    grid-row: 1 / 7; }
  .gallery .img--2 {
    grid-column: 1 / 6;
    grid-row: 7 / 12; }
  .gallery .img--3 {
    grid-column: 8 / 14;
    grid-row: 1 / 7; }
  .gallery .img--4 {
    grid-column: 5 / 8;
    grid-row: 1 / 4; }
  .gallery .img--5 {
    grid-column: 5 / 8;
    grid-row: 4 / 7; }
  .gallery .img--7 {
    grid-column: 9 / 13;
    grid-row: 7 / 12; }
  .gallery .img--8 {
    grid-column: 14 / 17;
    grid-row: 1 / 5; }
  .gallery .img--9 {
    grid-column: 13 / 15;
    grid-row: 10 / 12; }
  .gallery .img--10 {
    grid-column: 13 / 17;
    grid-row: 7 / 10; }
  .gallery .img--11 {
    grid-column: 15 / 17;
    grid-row: 10 / 12; }
  .gallery .img--12 {
    grid-column: 14 / 17;
    grid-row: 5 / 7; }
  .gallery .img--13 {
    grid-column: 6 / 9;
    grid-row: 7 / 10; }
  .gallery .img--14 {
    grid-column: 6 / 9;
    grid-row: 9 / 12; }
  .gallery .gallery__img:hover {
    cursor: pointer;
    transform: scale(1.1); }

/* EFECTO LIGHTBOX EN LA GALLERY EN INDEX.HTML */
.imagen-light {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transform: translate(100%);
  transition: transform .2s ease-in-out; }

.show {
  transform: translate(0); }

.agregar-imagen {
  width: 50%;
  border-radius: 10px;
  transform: scale(0);
  transition: transform .3s .2s; }

.showImage {
  transform: scale(1); }

.close {
  position: absolute;
  top: 80px;
  right: 25px;
  width: 50px;
  cursor: pointer;
  z-index: 1;
  fill: #fff; }

.testimonios_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fce5fccc; }

.quote {
  width: 80px;
  padding: 1rem; }

.testimonio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  padding: 1rem; }
  .testimonio p {
    padding: 1rem;
    color: #000; }

.contact__text {
  width: 100%;
  background: linear-gradient(to left, #fc6767, #ff4bb7d7);
  padding: 1rem;
  text-align: center; }
  .contact__text p {
    color: #FFF; }

.contact__body {
  --color:rgba(0, 0, 0, 0.6);
  background: linear-gradient(var(--color), var(--color)), url(/img/mihai-stefan-IC6XpmK3fO0-unsplash.jpg) center/cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.container-iframe {
  position: relative;
  overflow: hidden;
  width: 340px;
  height: 500px;
  margin-top: 1rem; }
  .container-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.container-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.contact--1 {
  display: flex; }

.contact-main {
  padding: 2rem; }

.title__form,
.title__info-contact {
  color: #FFF; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }

.info-contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.telefono__content-img,
.mail__content-img,
.atencion__content-img,
.direccion__content-img {
  background-color: #F49AC3; }

.content-main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  margin: 2rem;
  border: 1px solid #FFF;
  border-radius: 10px;
  color: #FFF; }

.content {
  position: absolute;
  top: -20px;
  left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 70px;
  height: 70px;
  border-radius: 50%; }

.size {
  width: 85%; }

.contact--1 {
  padding: 1rem;
  display: flex; }

.contact--1,
.contact--3 {
  justify-content: space-between;
  align-items: flex-start; }

.text__content {
  padding: 2rem;
  width: 100%;
  height: 80px;
  color: #fff; }

.text__content--3 {
  background-color: #000; }

.mapa {
  height: 350px;
  width: 100%; }

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  padding: 2rem;
  color: #FFF;
  background: #000;
  border-bottom: 1px solid #DFE0E0; }
  footer .item {
    display: flex;
    flex-direction: column; }
  footer .item:first-child > .title-footer {
    font-family: "Kaushan Script";
    color: #FFF; }
  footer .title-footer::after {
    content: " ";
    display: block;
    width: 50px;
    background-color: #F49AC3;
    height: 3px; }
  footer .title-footer,
  footer p {
    padding: 1rem;
    color: #FFF; }
  footer .info {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem; }
  footer .calendar {
    display: flex;
    align-items: center; }
  footer .content__link-info {
    display: flex;
    color: #F49AC3; }
  footer .link__info-footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%; }
  footer svg {
    display: inline-block;
    width: 1em;
    height: 1em; }
  footer .icon {
    fill: #000;
    border-radius: 50%; }

@media screen and (max-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    align-items: center; }
    footer .title-footer {
      padding: .5rem; }
    footer .item {
      padding: 1rem; } }

.content_final {
  padding: 1rem;
  background-color: #000; }

.button-up {
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: #F49AC3;
  border-radius: 50%;
  transition: all 300ms ease;
  transform: scale(0); }
  .button-up:hover {
    transform: scale(1.1);
    background-color: rgba(22, 14, 14, 0.5);
    fill: #000; }

.icon-up {
  width: 40px;
  fill: #FFF; }

@media screen and (max-width: 992px) {
  .service__content {
    display: flex;
    flex-wrap: wrap; }
  .service__content div {
    width: 45%; } }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem; }
  .testimonios_content {
    flex-direction: column;
    padding: 2rem; }
  .testimonio {
    width: 100%; }
  .service__content {
    display: flex;
    flex-wrap: wrap; }
  .service__content div {
    width: 70%; }
  .service__content {
    padding: 0; }
  .contact--1 {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contact {
    border-radius: initial;
    margin: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
    justify-content: center; }
  .content-main {
    width: 70%;
    padding: 1rem; }
  p {
    overflow-wrap: break-word; }
  .close {
    right: 15px; }
  .button-up {
    bottom: 80px;
    right: 5px; }
    .button-up svg {
      width: 30px; }
  .agregar-imagen {
    width: 80%; }
  .service-link {
    flex-direction: column; } }

@media screen and (max-width: 480px) {
  .service__content {
    display: flex;
    flex-wrap: wrap; }
  .service__content {
    padding: 0; }
  .button-up {
    bottom: 90px;
    right: 5px;
    width: 50px;
    height: 50px; }
  .contact--1 {
    padding: 0; } }
