
@mixin base_button   {
    display: block;
    width: 200px;
    height: 60px;
    padding: 1rem;
    margin: 2rem;
    margin-right: auto;
    margin-left: auto;
    color: #FFF;
    text-align: center;
    background: #f580b5;
    border-radius: 10px;
    border: none;
    
}

