$heading-font: "Josefin Sans",sans-serif;
$body-font: "Raleway",sans-serif;
$bigger-font-size: 1.75rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.9375rem;
$small-font-size: 0.8125rem;
$smaller-font-size: 0.75rem;
$heading-line-height: 1.6;
$body-line-height: 1.8;

/*TAMAÑOS DE TEXTO*/
.t1 {
    font-size: $bigger-font-size;
}
.t2 {
    font-size: $h2-font-size;
}
.t3 {
    font-size: $h3-font-size;
}
.t4 {
    font-size: $normal-font-size;
}
.t5 {
    font-size: $small-font-size;
}