//colors
$first-color:#F49AC3;
$first-color-alt:#ca6a95;
$accent-color:#be5987;
$second-color: #ff00ff;
$third-color:#FFF;
$four-color: #000;
$title-color:#232222;
$text-color: #53575A;
$border-color: #DFE0E0;
$body-bg: #FAFDFF;
$text-shadow: 2px 2px 2px rgba(144, 154, 165, 0.5);
$box-shadow: 2px 2px 10px 0px #afafaf;;
$header-height: 4.5rem;


//z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;


//breakpoints para mediaquerys
$breakpoints : (
    xs-small: 480px,
    small: 768px,
    medium: 992px,
    large: 1200px,
 
);


//ESTILO PARA BODY
body {
    font-weight: 400;
    line-height: $body-line-height;
    font-size: $normal-font-size;
    color: $text-color;
    font-family: $body-font;
    background-color: $body-bg;
}

h1 {
    width: 100%;
    padding: 1rem;
    color: $four-color;
    font-family: $heading-font;
    font-size: 3rem;
    font-weight: 200;
    text-shadow: $text-shadow;
    text-align: center;   
}

h2 {
    width: 100%;
    padding: 1rem;
    // font-family: $heading-font;
    font-size: 1.6rem;
    color: $title-color;   
}

